name: Tests

on:
  push:
    branches: ["main"]
    tags-ignore: ["**"]
  workflow_dispatch:

env:
  TF_IN_AUTOMATION: true
  TF_INPUT: false
  TF_VAR_project_id: ${{ secrets.GCP_PROJECT_ID }}
  TF_VAR_service_account_email: ${{ secrets.CICD_SA_EMAIL_ADDRESS }}

permissions:
  id-token: write

jobs:
  test-module:
    strategy:
      matrix:
        module:
          - deployer-service-account
          - infrastructure-project
          - github-repository

    runs-on: ubuntu-20.04

    defaults:
      run:
        working-directory: ${{ matrix.module }}/test

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Authenticating
        uses: google-github-actions/auth@v2.1.7
        with:
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.CICD_SA_EMAIL_ADDRESS }}
      - name: Setting up GCP environment
        uses: google-github-actions/setup-gcloud@v2.1.2
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3.1.1
      - name: Init
        run: terraform init
      - name: Validate
        run: terraform validate

  # deployer-service-account:
  #   runs-on: ubuntu-20.04

  #   defaults:
  #     run:
  #       working-directory: deployer-service-account/test

  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4
  #     - name: Authenticating
  #       uses: google-github-actions/auth@v2.1.7
  #       with:
  #         workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
  #         service_account: ${{ secrets.CICD_SA_EMAIL_ADDRESS }}
  #     - name: Setting up GCP environment
  #       uses: google-github-actions/setup-gcloud@v2.1.2
  #     - name: Setup Terraform
  #       uses: hashicorp/setup-terraform@v3.1.1
  #     - name: Init
  #       run: terraform init
  #     - name: Validate
  #       run: terraform validate

  # infrastructure-project:
  #   runs-on: ubuntu-20.04

  #   defaults:
  #     run:
  #       working-directory: infrastructure-project/test

  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4
  #     - name: Authenticating
  #       uses: google-github-actions/auth@v2.1.7
  #       with:
  #         workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
  #         service_account: ${{ secrets.CICD_SA_EMAIL_ADDRESS }}
  #         # token_format: "access_token"
  #     - name: Setting up GCP environment
  #       uses: google-github-actions/setup-gcloud@v2.1.2
  #     - name: Setup Terraform
  #       uses: hashicorp/setup-terraform@v3.1.1
  #     - name: Init
  #       run: terraform init
  #     - name: Validate
  #       run: terraform validate

  # github-repository:
  #   runs-on: ubuntu-20.04

  #   defaults:
  #     run:
  #       working-directory: github-repository/test

  #   env:
  #     TF_VAR_sa_email: ${{ secrets.CICD_SA_EMAIL_ADDRESS }}

  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4
  #     - name: Authenticating
  #       uses: google-github-actions/auth@v2.1.7
  #       with:
  #         workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
  #         service_account: ${{ secrets.CICD_SA_EMAIL_ADDRESS }}
  #         # token_format: "access_token"
  #     - name: Setting up GCP environment
  #       uses: google-github-actions/setup-gcloud@v2.1.2
  #     - name: Setup Terraform
  #       uses: hashicorp/setup-terraform@v3.1.1
  #     - name: Init
  #       run: terraform init
  #     - name: Validate
  #       run: terraform validate
